<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this :: content})}">
  <th:block th:fragment="content">
    <head>
      <meta charset="UTF-8">

      <style>
        .btn-link {
          mid-width: 100px;
          border-radius: 0px;
          text-decoration: none;
          opacity:1.0;
          box-shadow: none;
        }
      </style>

    </head>
    <body>
    <h2 class="mt-4" style="font-weight:bold; font-family: 함초롬바탕">템플릿 추가</h2>
    <hr>

    <form id="addT" name="addT" class="container" action method="post">
      <div class="form-group" style="padding-right: 10%; padding-left: 10%">
        <div class="form-inline">
          <h5 class="mr-2">템플릿 제목 : </h5>
          <input class="form-control col-md" type="text" id="inputTemplateTitle" name="inputTemplateTitle" placeholder="템플릿 제목을 입력해주세요.">
        </div>
        <br>
        <div>
          <!--질문 추가 입력-->
          <h5 class="mt-2">질문 추가</h5>
          *질문 개수는 2~5로 설정해주세요.<br><br>
          <div id="newQuestion"></div>
          <input class="btn btn-outline-info" id="addButton" type="button" value="+">
        </div>
      </div>
      <br>
      <div class="text-center">
        <input class="btn btn-outline-info px-5" id="save" type="button" value="저장">
      </div>
      <br>
      <br>
    </form>

    <script type="text/javascript">
      //직접 질문 입력
      let addQ = new Array(0);
      function display() {
        //초기화 해주고
        document.getElementById("newQuestion").innerHTML = "";
        //현재 저장된 내용을 출력
        for (let i=0; i<addQ.length; i++) {
          document.getElementById("newQuestion").innerHTML +=
                  `<form>
                      <div class="form-inline mb-1">
                          <label class="col-1">${i+1}. </label>
                          <input class="form-control col-md" type="text" id="addQ${i+1}" name="addQ${i+1}" value="${addQ[i]}" placeholder="질문을 입력해주세요." onChange="addQ[${i}]=this.value">
                          <input class="btn btn-link btn-sm ml-2" type="button" value="X" onclick="deleteInput(${i});">
                      </div>
                  </form>`;
        }
      }

      function deleteInput(idx) {
        addQ.splice(idx, 1);
        display();
      }

      //버튼 클릭시
      $(document).ready(function () {
        $("#save").click(function (event) {
          // 질문 갯수가 2개 이상 5개 이하 일 경우 가능
          if (addQ.length >= 2 && addQ.length <= 5) {
            if (document.getElementById("inputTemplateTitle").value.length == 0) {
              alert("템플릿 제목이 입력되지 않았습니다.");
            }
            else {
              let check = true;
              console.log(addQ);
              // 생성한 질문을 전부 입력했는지 검사
              for (let i=0; i<addQ.length; i++) {
                if (addQ[i].length == 0) {
                  alert(i+1+"번째 질문이 입력되지 않았습니다.");
                  check = false;
                  break;
                }
              }
              if (check == true) {
                alert("저장되었습니다.");
                document.getElementById("addT").submit();
              }
            }
          }
          else {
            alert("질문 개수를 2개~5개로 설정해주세요");
          }
        });

        //직접입력 버튼 누를경우
        $("#addButton").click(function () {
          if (addQ.length == 5) {
            alert("최대 질문 추가는 5개 입니다.");
          }
          else {
            //이전에 내용이 있다면 출력
            display();
            //직접 입력 템플릿이 추가되었으니 addQ배열에 빈 값을 하나 넣어줌
            addQ.push("");
            document.getElementById("newQuestion").innerHTML +=
                    `<form>
                        <div class="form-inline mb-1">
                              <label class="col-1">${addQ.length}. </label>
                              <input class="form-control col-md" type="text" id="addQ${addQ.length}" name="addQ${addQ.length}" value="${addQ[addQ.length-1]}" placeholder="질문을 입력해주세요." onChange="addQ[addQ.length-1]=this.value">
                              <input class="btn btn-link btn-sm ml-2" type="button" value="X" onclick="deleteInput(${addQ.length -1});">
                        </div>
                        <br>
                    </form>`;
          }
        });
      });
    </script>

    </body>
  </th:block>
</th:block>