<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
  <th:block th:fragment="content">
    <head>
      <meta charset="UTF-8">
      <title>essay_read_page</title>
      <style>
        .container-fluid {
          padding-left: 9%;
          padding-right: 9%;
        }

        textarea {
          resize: none;
          pointer-events: none;
        }
      </style>
        
        <script th:inline="javascript">
            
            function changeRange(access) {
                let essayId = [[${essayDTO.id}]];
                $.post("/switch/range", {essay_id: essayId}, function (result){
                    console.log(result);
                    if (result == true) {
                        console.log("post success");
                        if(access == 0 || access == null) {
                            $('.authRange').innerHTML = `<label>공개 범위</label>` +
                                    `<button onclick="changeRange(1)">친구 공개</button>`;
                        }
                        else if (access == 1) {
                            $('.authRange').innerHTML = `<label>공개 범위</label>` +
                                    `<button onclick="changeRange(0)">나만 보기</button>`;
                        }
                    }
                });
            }
        </script>
        
    </head>
    <body>
    <form class="container-fluid" th:action="@{/essay/delete/{essayId}(essayId=${essayDTO.id})}" method="post">
      <label class="form-control text-center mt-3" th:text="${essayDTO.essayTitle}"></label>
      <br>

        <div class="authRange" style="float: right">
            <label>공개 범위</label>&nbsp
            <button class="btn btn-secondary" th:onclick="|changeRange(${essayDTO.access})|"
                    th:if="${essayDTO.access == null}">나만 보기</button>
            <button class="btn btn-secondary" th:onclick="|changeRange(${essayDTO.access})|"
                    th:if="${essayDTO.access == 0}">나만 보기</button>
            <button class="btn btn-secondary" th:onclick="|changeRange(${essayDTO.access})|"
                    th:if="${essayDTO.access == 1}">친구 공개</button>
        </div>
        <br>
        
      <!-- 템플릿 입력 내용 -->
      <div class="form-group" th:if="${essayDTO.tc.size() > 0}">
        <h4 class="text-center mt-3" th:text="${essayDTO.templateTitle}"></h4>
        <hr>
        <div th:each="t, idx : ${essayDTO.tc}">
          <label th:text="|${idx.count}. ${t.question}|"></label>
          <textarea class="form-control mt-1" rows=10 th:text="${t.answer}"></textarea>
          <br>
        </div>
        <br>
      </div>

      <!-- 직접 입력 내용 -->
      <div class="form-group" th:if="${essayDTO.dc.size() > 0}">
        <h4 class="text-center mt-3">직접 입력</h4>
        <hr>
        <div th:each="d, idx : ${essayDTO.dc}">
          <label th:text="|${idx.count}. ${d.question}|"></label>
          <textarea class="form-control mt-1" rows=10 th:text="${d.answer}"></textarea>
          <br>
        </div>
        <br>
      </div>
      <!-- 게시글 삭제 -->
      <div class="text-center">
        <input class="btn btn-outline-danger px-5" id="delete" type="submit" value="게시글 삭제">
      </div>
      <br>
      <br>
    </form>
    </body>

  </th:block>
</th:block>
</html>