<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <head>
            <meta charset="UTF-8">
            <title>essay_write_page</title>

            <style>
                /*.container-fluid {*/
                /*    padding-left: 9%;*/
                /*    padding-right: 9%;*/
                /*}*/
                .btn-link {
                    mid-width: 100px;
                    border-radius: 0px;
                    text-decoration: none;
                    opacity:1.0;
                    box-shadow: none;
                }
                textarea {
                    resize: none;
                }

                select {
                    text-align: center;
                    margin: 15px 0;
                    padding-left: 10%;
                    padding-right: 10%;
                }
            </style>

        </head>
        <body>
        <h1 class="mt-4">자소서 쓰기</h1>
        <hr>
        <!--동적 게시글 작성 양식-->
        <form class="container-fluid" style="padding-left: 9%; padding-right: 9%" id="createTemplate" name="createTemplate" action method="post">
            <div class="form-group" style="padding-right: 20%; padding-left: 20%">
                <!--템플릿 불러오기 칸-->
                <select class="form-control" name="template_select" id="template_select" onchange="Change_template();">
                    <option value="emptyTemplate">템플릿 선택</option>
                    <option th:each="templateTitle : ${templateDTO.templateTitle}"
                            th:value="${templateTitle}"
                            th:text="${templateTitle}"></option>
                </select>
                <br>
            </div>
            <!--아래 div는 텟플릿별 질문과 내용적는 곳 생성 하는 부분-->
            <div id="ct_newessay"></div>
            <br>
            <div>
                <!--직접 입력-->
                <div id="cd_newessay"></div>
                <input class="btn btn-outline-info" id="template_direct" type="button" value="+">
            </div>
            <br>
            <br>
            <div class="text-center">
                <input class="btn btn-primary px-5" id="save" type="button" value="저장">
            </div>
            <br>
            <br>

            <!-- Modal -->
            <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="saveModalLavel">자소서 제목 입력</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" name="titleName" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <script th:inline="javascript">
            //test하기위해 잠깐 직접 선언함
            // let myArray = {
            //     "t1" : ["질문1", "질문2", "질문3", "질문4"],
            //     "t2" : ["질문1", "질문2", "질문3"],
            //     "t3" : ["성격", "내 여자친구는 구미호"]
            // }

            //직접입력 부분에서 추가 할 경우 다른 내용은 저장해 두어야 하기 때문에

            //직접 입력부분의 질문 입력
            let direct_question = new Array(0);
            //직접 입력부분의 내용 입력
            let direct_answer = new Array(0);
            let select = "emptyTemplate";
            //템플릿을 몇번째 실행할건지 선택
            function Change_template()
            {
                let id = document.getElementById("template_select");
                select = id.options[id.selectedIndex].value;
                buildTemplate();
            }

            //선택한 템플릿 질문 갯수만큼 화면 생성
            //ex) 삼성공채 하반기 - 질문5개 => 작성 포맷이 5개 생성
            function buildTemplate() {
                //불러오기전 이전의 내용(화면) 초기화
                document.getElementById("ct_newessay").innerHTML="";

                if (select == "emptyTemplate") return;

                //템플릿 질문 갯수만큼 생성
                let templateIdx = [[${templateDTO.templateTitle}]].indexOf(select);
                let question = [[${templateDTO.questions}]][templateIdx];
                for (let ele in question) {
                    document.getElementById("ct_newessay").innerHTML +=
                        `<form>
                            <label> ${+ele + 1}. ${question[ele]}</label>
                            <textarea class="form-control" rows=10 id="template_answer${+ele}" name="t${question[ele]}"placeholder="내용을 입력해주세요."></textarea><br>
                        </form>`
                }
            }

            //삭제하거나 추가할 경우
            //이전의 저장된 내용을 다시 화면에 출력
            function display() {
                //초기화 해주고
                document.getElementById("cd_newessay").innerHTML = "";
                //현재 저장된 내용을 출력
                for (let i=0; i<direct_answer.length; i++) {
                    document.getElementById("cd_newessay").innerHTML +=
                        `<form>
                            <div class="form-inline mb-1">
                                <label class="mr-2">${i+1}.</label>
                                <input class="form-control col-md" type="text" id="direect_question${i}" name="direct_question${i}" value="${direct_question[i]}" placeholder="질문을 입력해주세요." onChange="direct_question[${i}]=this.value">
                                <input class="btn btn-link btn-sm ml-2" type="button" value="X" onclick="deleteInput(${i});">
                            </div>
                            <textarea class="form-control mb-1" rows=10 id="direct_answer${i}" name="direct_answer${i}" placeholder="내용을 입력해주세요." onChange="direct_answer[${i}]=this.value">${direct_answer[i]}</textarea>
                            <br>
                        </form>`;
                }
            }

            //게시글 작성 포맷을 전부 완료 한뒤 삭제가능
            //하나 포맷 생성해놓고 확인 안누르면 삭제 불가능
            function deleteInput(idx) {
                direct_answer.splice(idx, 1);
                direct_question.splice(idx, 1);
                display();
            }

            //버튼 클릭시
            $(document).ready(function () {
                $("#save").click(function (event) {
                    //아무 내용이 없다면
                    if (select=="emptyTemplate" && direct_question.length == 0) {
                        alert("저장할 내용이 없습니다.");
                        return;
                    }
                    if (select != "emptyTemplate") {
                        //템플릿 내용검사
                        let templateIdx = [[${templateDTO.templateTitle}]].indexOf(select);
                        let question = [[${templateDTO.questions}]][templateIdx];
                        for (let i=0; i<question.length; i++) {
                            // let id = document.getElementById(`template_answer${i}`);
                            if (document.getElementById(`template_answer${i}`).value.length == 0) {
                                alert(`${i+1}번째 템플릿 내용이 입력되지 않았습니다.`);
                                return;
                            }
                        }
                    }
                    //직접입력 내용검사
                    for (let i=0; i<direct_question.length; i++) {
                        if (direct_question[i].length == 0) {
                            alert(`${i+1}번째 직접입력에 대한 질문이 입력되지 않았습니다.`);
                            return;
                        }
                        else if (direct_answer[i].length == 0) {
                            alert(`${i+1}번째 직접입력에 대한 내용이 입력되지 않았습니다.`);
                            return;
                        }
                    }

                    $("#saveModal").modal("show");
                });

                //다이얼로그 창안에서 취소 버튼 누를 경우
                $("#close_modal").click(function () {
                    $("#saveModal").modal("hide");
                });

                //직접입력 버튼 누를경우
                $("#template_direct").click(function () {
                    //이전에 내용이 있다면 출력
                    display();
                    //직접 입력 템플릿이 추가되었으니 array배열에 빈 값을 하나 넣어줌
                    direct_question.push("");
                    direct_answer.push("");

                    document.getElementById("cd_newessay").innerHTML +=
                        `<form>
                            <div class="form-inline mb-1">
                                <label class="mr-2">${direct_question.length}.  </label>
                                <input class="form-control col-md" type="text" name="direct_question${direct_question.length}" value="${direct_question[direct_question.length-1]}" placeholder="질문을 입력해주세요." onChange="direct_question[${direct_question.length-1}]=this.value">
                                <input class="btn btn-link btn-sm ml-2" type="button" value="X" onclick="deleteInput(${direct_question.length-1});">
                            </div>
                            <textarea class="form-control mb-1" rows=10 name="direct_answer${direct_question.length}" placeholder="내용을 입력해주세요." onChange="direct_answer[${direct_answer.length-1}]=this.value">${direct_answer[direct_question.length-1]}</textarea>
                            <br>
                        </form>`;
                    });
            });
        </script>

        </body>
    </th:block>
</th:block>