<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <head>
            <style>
                tr {
                    text-align: center;
                }
            </style>
        </head>
        <h2 class="mt-3">관리자 페이지</h2>
        <hr>
        <br>

        <table id="board_body" class="table table-striped col-12">
            <thead>
            <tr>
                <th class="text-left" scope="col">질문</th>
                <th scope="col">타입</th>
                <th scope="col">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question : ${questions}">
                <td class="text-left">[[${question.title}]]</td>
                <td>[[${question.questionType}]]</td>
                <td><button class="btn btn-outline-danger" type="button" th:onclick="|location.href='@{/admin/delete/{id}(id=${question.id})}'|">삭제</button></td>
            </tr>
            </tbody>
        </table>

    </th:block>
</th:block>