<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <head>
            <meta charset="utf-8">
            <style>


                .text-align-center {
                    text-align: center;
                }

                thead {
                    border-top: none;
                }

            </style>
        </head>
        <body>

        <div class="row mt-5 justify-content-center">

            <div class="col-6 d-flex justify-content-center">
                <span style="font-family: 함초롬바탕" class="display-4" th:text="|${nickname}님의 my page|"></span>
            </div>

        </div>

        <div class="row mt-3 justify-content-center">

            <div class="col d-flex justify-content-center">
                <div>자기소개서 : [[${essayList.size()}]]개 작성</div>
                <div style="visibility: hidden">space</div>
                <div>면접 게시물: [[${interviewList.size()}]]개 작성</div>
                <div style="visibility: hidden">space</div>
                <div>친구 : [[${friendList.size()}]]명</div>
            </div>
        </div>

        <div class="row mt-4 justify-content-center">
            <a th:if="${friendState} == 0" href="/mypage/update" type="button" class="btn btn-outline-secondary">회원 정보 수정</a>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="btn-group col-lg-6" role="group" aria-label="Basic outlined example">
                <button th:if="${friendState} < 2" type="button" class="btn btn-outline-secondary"
                        onClick="displayEssay()">자기소개서
                </button>
                <button th:if="${friendState} < 2" type="button" class="btn btn-outline-secondary"
                        onClick="displayInterview()">면접
                </button>
                <!-- 모의면접 기록 추가 -->
                <button th:if="${friendState} < 2" type="button" class="btn btn-outline-secondary"
                        onClick="displayMockInterview()">모의면접 기록
                </button>
                <!-------------------->
                <button th:if="${friendState} < 2" type="button" class="btn btn-outline-secondary"
                        onClick="displayFriend()">친구 목록
                </button>

                <a th:if="${friendState} == 2" th:href="@{/requestFriendRequest/{nickname}(nickname = ${nickname})}" type="button" class="btn btn-outline-secondary">친구 신청</a>
                <a th:if="${friendState} == 3" class="btn btn-outline-secondary">친구 수락 대기중</a>
                <a th:if="${friendState} == 4" th:href="@{/acceptFriendRequest/{nickname}(nickname = ${nickname})}" type="button"
                   class="btn btn-outline-secondary">친구 수락하기</a>
            </div>
        </div>

        <div class="row justify-content-center mt-3">

            <div class="col-lg-12">
                <table class="table">
                    <tr id="head"></tr>
                    <tbody id="body" style="text-align: center"></tbody>
                </table>
            </div>
        </div>

        <script th:inline="javascript">
            const head = document.getElementById('head');
            const body = document.getElementById('body');
            const essayList = [[${essayList}]];
            const interviewList = [[${interviewList}]];
            const mockInterviewList = [[${mockInterviewList}]];
            const friendList = [[${friendList}]];
            console.log(essayList);
            console.log(interviewList);
            console.log(mockInterviewList);
            console.log(friendList);

            function displayEssay() {
                head.innerHTML =
                    "<th class='col-4 text-align-center'>자기소개서 이름</th>" +
                    "<th class='col-2 text-align-center'>첨삭 개수</th>" +
                    "<th class='col-2 text-align-center'>예상질문 개수</th>" +
                        "<th class='col-2 text-align-center'>공개 범위</th>" +
                    "<th class='col-2 text-align-center'>작성 날짜</th>";
                
                let str = "";
                essayList.forEach((essay) => {
                    str +=
                        "<tr>" +
                        "<td><a href='/essay/read/" + essay.id + "' style='text-decoration: none'>" + essay.essayTitle + "</a></td>" +
                        "<td class='text-align-center'>" + essay.feedbackNum + "</td>" +
                        "<td class='text-align-center'><a href='/essay/board/" + essay.id + "'>" + essay.questionNum + "</a></td>";
                    
                    if(essay.access == 0){
                        str += '<td class="text-align-center">' + '나만 보기' + '</td>';
                    }
                    else if (essay.access == 1) {
                        str += '<td class="text-align-center">' + '친구 공개' + '</td>';
                    }
                    else if (essay.access == 2) {
                        str += '<td class="text-align-center">' + '게시물' + '</td>';
                    }
                    
                    str += "<td class='text-align-center'>" + essay.createTime + "</td></tr>";
                });
                body.innerHTML = str;
            }

            function displayInterview() {
                head.innerHTML =
                    "<th class='col-5 text-align-center'>면접게시물 제목</th>" +
                    "<th class='col-2 text-align-center'>문항 개수</th>" +
                    "<th class='col-2 text-align-center'>피드백 개수</th>" +
                    "<th class='col-3 text-align-center'>작성 날짜</th>";

                body.innerHTML = "";
                interviewList.forEach((interview) => {
                    body.innerHTML +=
                        "<tr>" +
                        "<td><a href='/interview/board/" + interview.id +"' style='text-decoration: none'>" + interview.title + "</a></td>" +
                        "<td class='text-align-center'>" + interview.questionNum + "</td>" +
                        "<td class='text-align-center'>" + interview.feedbackNum + "</td>" +
                        "<td class='text-align-center'>" + interview.createTime + "</td>" +
                        "</tr>";
                });

            }

            function displayMockInterview() {
                head.innerHTML =
                        "<th class='col-5 text-align-center'>면접 제목</th>" +
                        "<th class='col-2 text-align-center'>질문 개수</th>" +
                        "<th class='col-3 text-align-center'>작성 날짜</th>";
    
                body.innerHTML = "";
                mockInterviewList.forEach(mock => {
                    body.innerHTML +=
                            "<tr>" +
                            "<td>" + mock.title + "</td>" +
                            "<td class='text-align-center'>" + mock.qCnt + "</td>" +
                            "<td class='text-align-center'>" + mock.date + "</td>" +
                            "</tr>";
                })
            }

            function displayFriend() {
                head.innerHTML = "<th class='col-8 text-align-center'>친구 목록</th>";
                body.innerHTML = "<br>";
                for (let i = 0; i < friendList.length; i++) {
                    body.innerHTML += "<a href='/mypage/" + friendList[i].nickname + "' style='text-decoration: none'>" + friendList[i].nickname + " </a>";
                    if (i > 0 && i % 5 == 0)
                        body.innerHTML += "<br>";
                }
            }

        </script>
        </body>

    </th:block>
</th:block>
</html>

