<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        
        <head>
<!--            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->

            <style>
                .left-space{
                    display: inline-block;
                    width:80%;
                }
                .right-space{
                    display: inline-block;
                    float: right;
                }
                textarea{
                    resize: none;
                    display: inline-block;
                    height: auto;
                }
                .btn-link {
                    mid-width: 100px;
                    border-radius: 0px;
                    text-decoration: none;
                    opacity:1.0;
                    box-shadow: none;
                }
            </style>
        </head>
        
        <div class="container-fluid">
            <!-- 게시물 내용 부분 -->
            <div class="left-space mt-3">
                <!-- 게시물 제목 -->
                <h3 class="text-center mb-2">[[${result.title}]]</h3>
                <!-- 게시물 글 내용 -->
                [[${result.text}]]
<!--                <textarea class="form-control" rows="5" style="pointer-events: none; border: 0;">[[${result.text}]]</textarea>-->
                <br><br>
                
                <div class="form-group" th:each="dto, idx : ${result.contentList}">
                    <br>
                    <label th:for="|${dto.pk}content|" th:text="|${idx.count}. ${dto.title}|"></label>
                    <br>
                    <textarea rows=10 style="pointer-events: none" th:id="|${dto.pk}content|" type="text" class="form-control" name="content" th:value="${dto.text}"></textarea>
            
                    <!-- 예상질문 부분 -->
                    <div class="mt-2" th:each="qdto : ${result.questionList}" th:if="${dto.pk == qdto.contentId}">
                        <form th:action="@{/essay/question/delete}" th:method="post">
                            <div class="form-inline">
                                <label class="form-control col-md" style="pointer-events:none; border: 0;" align="left" th:for="|${qdto.pk}question|">↳ [[${qdto.nickname}]]님의 예상질문</label>
                                <button class="btn btn-link btn-sm ml-2" type="submit"
                                        th:if="${loginNickname == qdto.nickname}">X</button>
                            </div>
                            <textarea class="form-control" style="pointer-events: none" th:id="|${qdto.pk}question|">[[${qdto.content}]]</textarea>
                            <input style="display: none" name="eb_pk" th:value="${result.pk}">
                            <input style="display: none" name="question_pk" th:value="${qdto.pk}">
                        </form>
                    </div>

                    <!-- 예상질문 달기 -->
                    <div th:id="${dto.pk}"></div>
                    <input class="btn-outline-info questionButton mt-2 form-control" type="button" value="예상질문 달기"
                           th:attr="onclick=|make_expectedQuestion('${result.pk}', '${dto.pk}', '${loginNickname}'); remove_questionBtn()|">
                </div>
                <br>
                <hr>
                <br>
                <!-- 댓글 -->
<!--                <h3 class="text-center">댓글</h3>-->
                <!-- 기존 댓글 표시 -->
                <div class="mb-4" th:each="dto : ${result.replyList}">
                    <form th:action="@{/essay/reply/delete}" th:method="post">
                        <div class="form-inline">
                            <label class="form-control col-md" style="pointer-events:none; border: 0;" align="left">↳ <b>[[${dto.nickname}]]</b>님</label>
                            <button class="btn btn-link btn-sm ml-2" type="submit"
                                    th:if="${loginNickname == dto.nickname}">X</button>
                        </div>
                        [[${dto.content}]]
<!--                    <label class="form-control" style="pointer-events: none; border: 0; padding-left: 0;" align="left">[[${dto.content}]]</label>-->
                        <input style="display: none" name="eb_pk" th:value="${result.pk}">
                        <input style="display: none" name="reply_pk" th:value="${dto.pk}">
                    </form>
                </div>

                <!-- 댓글 달기 -->
                <div id="new_reply"></div>
                <input class="btn btn-outline-info form-control" id="reply_input" type="button" value="댓글 달기"
                       th:attr="onclick=|make_reply('${result.pk}', '${loginNickname}'); remove_replyBtn()|">
                <br><br>
            </div>
    
            <!-- 피드백 보기 부분-->
            <div class="right-space">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        피드백([[${result.fCnt}]]개)
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:each="dto : ${result.feedbackList}"
                           th:href="@{/essay/board/feedback/{pk}(pk=${dto.pk})}" th:text="|${dto.nickname}님의 피드백|">
                        </a>
                    </div>
                </div>
                <div style="float: bottom">
                    <!-- 수정, 삭제 버튼 - 로그인한 사람이 글쓴이일 때만-->
                    <div th:if="${loginNickname == result.writer}">
                        <button class="btn btn-outline-info btn-block" type="button"th:onclick="|location.href='@{/essay/board/update/{pk}(pk=${result.pk})}'|" >
                            게시물 수정
                        </button>
                        <button class="btn btn-outline-danger mt-2 btn-block" type="button" th:onclick="|location.href='@{/essay/board/delete/{pk}(pk=${result.pk})}'|">
                            게시물 삭제
                        </button>
                    </div>
                    <!-- 첨삭쓰기 버튼 -->
                    <div class="mt-2">
                        <button class="btn btn-outline-warning btn-block" th:onclick="|location.href='@{/essay/board/feedback}'|">
                            첨삭 쓰기
                        </button>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
        
        
        <!-- 댓글 달기 기능 -->
        <script th:inline="javascript">
            //댓글 달기를 누르면 그 부분 삭제
            function remove_replyBtn(){
                $('#reply_input').remove();
            }
            
            //예상질문 달기를 누르면 모든 버튼 삭제
            function remove_questionBtn(){
                $('.questionButton').remove();
            }
            
            //댓글 달기를 누를 때
            function make_reply(pk, nickname){
                document.getElementById("new_reply").innerHTML+= `<form class="mt-2" action="/essay/reply" method="post">`+
                        // '<label>'+nickname+'님의 댓글</label><br>'+
                `<textarea class="form-control" name="replyContent" rows="3" placeholder="내용을 입력해주세요." required></textarea>`+
                        `<input type="text" name="essay_pk" style="display: none" value="`+pk+`">`+
                `<button class="mt-1 form-control col-1 float-right btn-outline-info" type="submit">확인</button></form><br>`;
            }
            
            //예상질문 쓰기를 누를 때
            function make_expectedQuestion(pk, id, nickname){
                document.getElementById(id).innerHTML += `<form class="mt-2" action="/essay/question" method="post">`+
                        // '<p>'+nickname+'님의 예상질문</p>'+
                `<textarea class="form-control" name="questionContent" placeholder="예상질문을 입력해주세요." required></textarea>`+
                        `<input type="text" name="essay_pk" style="display: none" value="`+pk+`">`+
                        `<input type="text" name="content_pk" style="display: none" value="`+id+`">`+
                `<button class="mt-1 form-control col-1 float-right btn-outline-info" type="submit">확인</button></form><br>`;
            }
        </script>
        
    </th:block>
</th:block>