<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
    
        <head>
            <style>
                textarea{
                    resize: none;
                }
            </style>
        </head>
        
        <div class="container-fluid mt-3" style="padding-left: 15%; padding-right: 15%">
            <form id="updateForm" th:action="@{/essay/board/update/{pk}(pk=${result.pk})}" th:method="post">
                <!-- 게시물 제목 -->
                <div>
                    <h5>제목 수정</h5>
                    <input name="title" class="form-control" th:value="${result.title}">
                </div>

                <!-- 게시물 글 내용 -->
                <br><br>
                <div>
                    <h5>내용 수정</h5>
                    <textarea rows=8 name="text" class="form-control">[[${result.text}]]</textarea>
                </div>

            </form>
            <br><br><br>

            <input class="form-control text-center mt-3" style="border-color:black; font-weight: bold; pointer-events: none" th:value="자기소개서">
            *해당 부분은 참고를 위해 읽기만 가능합니다.
            <!-- 자소서 문항 내용 -->
            <div class="form-group mt-2" th:each="dto, idx: ${result.contentList}">
                <label th:text="|${idx.count}. ${dto.title}|"></label>
                <textarea rows=10 type="text" class="form-control" name="content" th:text="${dto.text}" readonly></textarea>
                <br>
            </div>
            <br>

            <!-- 수정 완료 버튼-->
            <div class="text-center">
                <button class="btn btn-outline-info px-5" type="submit" form="updateForm">수정 완료</button>
            </div>
            <br><br>
        </div>

    </th:block>
</th:block>