<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <h2 class="mt-4" style="font-weight:bold; font-family: 함초롬바탕">자기소개서 게시판 글쓰기</h2>
        <hr>
        <form id="addT" name="addT" th:action="@{/essay/board/add}" th:method="post">
            <!-- 게시물 제목 입력 -->
            <div class="form-group">
                <label>제목</label>
                <input id="title" type="text" class="form-control" name="title" placeholder="제목을 입력하세요.">
            </div>
            <br>

            <!-- 게시물 내용 글 입력 -->
            <div class="form-group mt-1">
                <label>내용</label>
                <textarea id="content" style="resize: none" class="form-control" rows="8" name="text" placeholder="내용을 입력하세요."></textarea>
            </div>
            <br>
            <!-- 마이페이지에서 자소서 불러오기 -->
            <label for="essaySelect">불러올 자기소개서 선택</label>
            <br>
            <select class="form-control" id="essaySelect" th:name="pk" onchange="checkEssay();">
                <option value="emptyEssay">자기소개서 선택</option>
                <option th:each="dto : ${essayList}" th:value="${dto.pk}" th:utext="${dto.essayTitle}"></option>
            </select>
            <br><br>
            
            <!-- 제출 버튼 -->
            <div class="text-center">
                <input id="save" type="button" class="btn btn-outline-info px-5" value="게시물 저장">
            </div>
            <br>
        </form>

        <script>
            let select = "emptyEssay";
            function checkEssay() {
                let id = document.getElementById("essaySelect");
                select = id.options[id.selectedIndex].value;
            };

            $("#save").click(function () {
                //안에 내용이 다 적혀있는지
                if (document.getElementById("title").value.length == 0) {
                    alert("제목이 입력되지 않았습니다.");
                }
                else if (document.getElementById("content").value.length == 0) {
                    alert("내용이 입력되지 않았습니다.");
                }
                else if (select=="emptyEssay") {
                    alert("자기소개서를 선택하지 않았습니다.");
                }
                else {
                    alert("게시물이 저장되었습니다.");
                    document.getElementById("addT").submit();
                }
            });
        </script>
    </th:block>
</th:block>