<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">면접 게시판</h1>
        <!-- 임시 테이블 -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>제목</th>
                <th>피드백</th>
                <th>글쓴이</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#">2021 삼성전자 대비 면접 피드백 부탁드립니다.</a></td>
                <td>3</td>
                <td>김수만</td>
                <td>2021.11.09</td>
            </tr>
            <tr>
                <td><a href="#">2021년 LG전자 하반기 대비 모의 면접 - 평가 부탁드려요~</a></td>
                <td>2</td>
                <td>이영훈</td>
                <td>2021.11.03</td>
            </tr>
            <tr>
                <td><a href="#">얼마 안 남은 면접 대비해서 녹화해 봤습니다. 일침 날려주세요</a></td>
                <td>4</td>
                <td>김의현</td>
                <td>2021.11.01</td>
            </tr>
            </tbody>
        </table>
        
        <!--실제 활용할 테이블-->
        <!--/*
        <table id="board_body" class="table table-striped">
            <thead>
            <tr>
                <th>제목</th>
                <th>피드백</th>
                <th>글쓴이</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result.dtoList}">
                <td><a href="@{/interview/board/pk(pk=${dto.pk})}">[[${dto.title}]]</a></td>
                <th>[[${dto.fCnt}]]</th>
                <td>[[${dto.writer}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>
        */-->
        
        <!-- 글쓰기 버튼 -->
        <div style="float: right; margin-bottom: 30px;">
            <a th:href="@{/interview/board/add}">
                <button type="button" class="btn btn-outline-primary">글쓰기</button>
            </a>
        </div>
        
        <!-- 페이지 버튼 들어갈 자리 -->
        <!--/*
        
        */-->
        
        <!-- 임시 검색창 -->
        <form action="//essay-list" method="get" id="searchForm">
            <div class="input-group" style="margin: auto">
                <input type="hidden" name="page" value="1">
                <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search" type="button">검색</button>
                    <button class="btn btn-outline-secondary btn-clear" type="button">초기화</button>
                </div>
            </div>
        </form>
    
    </th:block>
</th:block>