<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <head>
            <style>
                textarea{
                    resize: none;
                }
            </style>
        </head>
    
        <div class="container-fluid mt-3">
        
            <!-- 게시물 내용 부분 -->
            
                <form id="updateForm" th:action="@{/interview/board/update/{pk}(pk=${result.pk})}" th:method="post">
                    <!-- 게시물 제목 -->
                    <div>
                        <label>제목 수정</label>
                        <input name="title" class="form-control" th:value="${result.title}">
                    </div>
    
                    <!-- 게시물 글 내용 -->
                    <br>
                    <div>
                        <label>글 수정</label>
                        <br>
                        <textarea name="text" class="form-control">[[${result.text}]]</textarea>
                    </div>
                    
                    <br>
                    <!-- 업로드한 비디오들 -->
                    <div class="form-group" th:each="dto : ${result.videoList}">
                        <br>
                        <input name="videoNames" class="form-control" th:value="${dto.videoName}">
                        <video width="640" height="360" controls>
                            <source th:src="${dto.url}" type="video/mp4">
                        </video>
                    </div>
                    <br>

                </form>
                <!-- 수정 완료 버튼-->
                <button class="btn btn-primary" type="submit" form="updateForm">수정 완료</button>
        
            </div>
            <br>

            <!-- 수정 완료 버튼-->
            <button class="btn btn-outline-info form-control" type="submit" form="updateForm">수정 완료</button>
            <br><br>
        </div>
    </th:block>
</th:block>