<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <head>
            <style>
                textarea{
                    resize: none;
                }
            </style>
        </head>
    
        <div class="container-fluid mt-3">
        
            <!-- 게시물 내용 부분 -->
            
            <form id="updateForm" th:action="@{/interview/board/update/{pk}(pk=${result.pk})}" th:method="post">
                <!-- 게시물 제목 -->
                <div>
                    <h5>제목 수정</h5>
                    <input name="title" class="form-control" th:value="${result.title}">
                </div>

                <!-- 게시물 글 내용 -->
                <br><br>
                <div>
                    <h5>글 수정</h5>
                    <textarea name="text" class="form-control">[[${result.text}]]</textarea>
                </div>

            </form>
            <br><br><br>


            <h5>내가 업로드한 영상</h5>
            *해당 부분은 참고를 위해 보기만 가능합니다.
            <hr>

            <!-- 업로드한 비디오들 -->
            <div class="form-group" th:each="dto, idx : ${result.videoList}">
                <label th:text="|${idx.count}. ${dto.videoName}|"></label>
                <div class="text-center">
                    <video width='75%' controls>
                        <source th:src="${dto.url}" type="video/mp4">
                    </video>
                </div>
            </div>
            <br>

            <!-- 수정 완료 버튼-->
            <button class="btn btn-outline-info form-control" type="submit" form="updateForm">수정 완료</button>
            <br><br>
        </div>
    </th:block>
</th:block>