<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <head>
            <style>
                .btn-link {
                    mid-width: 100px;
                    border-radius: 0px;
                    text-decoration: none;
                    opacity:1.0;
                    box-shadow: none;
                }
            </style>
        </head>
        <h2 class="mt-4">면접 게시판 글쓰기</h2>
        <hr>

        <form id="addT" name="addT" th:action="@{/interview/board/add}" th:method="post">
            <!-- 게시물 제목 입력 -->
            <div class="form-group">
                <label> 제목</label>
                <input id="title" th:if="!${isNoVideo}" type="text" class="form-control" name="title" placeholder="제목을 입력하세요.">
                <input th:if="${isNoVideo}" type="text" class="form-control" name="title" th:value="${title}" required>
            </div>
            <br>

            <!-- 게시물 내용 글 입력 -->
            <div class="form-group mt-1">
                <label>내용</label>
                <textarea id="content" th:if="!${isNoVideo}"class="form-control" rows="8" name="text" style="resize: none" placeholder="내용을 입력하세요."></textarea>
                <textarea th:if="${isNoVideo}" class="form-control" rows="8" name="text" required>[[${text}]]</textarea>
            </div>
            <br>
            <!-- 면접 영상 업로드하기 -->
            <br>
            <h5>면접 영상 선택</h5>
            <hr style="margin-top: 0">
            <div class="uploadResult"></div>
            <div id="videoUrls"></div>

            <div class="form-inline">
                <label class="form-control mr-1 text-center btn btn-outline-info" for="file">+</label>
                <!--                <input class="upload-name form-control col-md" style="pointer-events: none; color: gray" value="첨부파일" placeholder="첨부파일">-->
                <input id="file" style="display: none" name="uploadFiles" type="file" onchange="uploadVideos()" multiple required>
            </div>
            <br>
            <div class="text-center">
                <!--                <input id="save" type="button" class="btn btn-outline-info px-5" value="게시물 저장">-->
                <button id="save" type="button" class="btn btn-outline-info px-5" onclick="pushVideoURLs()">
                    게시물 저장
                </button>
            </div>
            <br>
            <br>
        </form>

        <script th:inline="javascript">
            let urls = []; //영상들의 저장 경로
            let urlsIdx = []; //영상들의 인덱스
            //업로드한 비디오 보여주기
            function showUploadedVideos(arr){
                console.log(arr);
                let divArea = $('.uploadResult');

                let str = ""
                for (let i = 0; i < arr.length; i++) {
                    str += "<div>";
                    str += '<div class="form-inline"><label class="mr-1">영상 제목</label>';
                    str += '<input id="'+`videotitle${i}`+'"class="form-control col-4" name="videoNames" placeholder="영상 제목을 입력해주세요."></div>'; //영상 제목 입력란
                    // str += '<label class="form-control ml-1 btn btn-link" for="removeId">X</label>'
                    str += "<video class='mt-1' width='640' height='auto' controls><source src='/display?fileName="+arr[i].videoURL+"'></video>";
                    str += "<input id='removeId' class='btn btn-link removeBtn ml-1' type='button' data-name='"+arr[i].videoURL+"' value='X'>";
                    str += "</div>";
                    urls.push(arr[i].videoURL);
                    urlsIdx.push(i);
                }
                divArea.append(str);
            }

            //업로드하는 최종 영상들의 url들을 저장
            function pushVideoURLs() {
                console.log("final onclick");
                if (urls.length != 0) {
                    document.getElementById('videoUrls').innerHTML =
                        '<input name="videoUrls" value=' + urls + ' style="display: none">';
                }
            }

            function uploadVideos() {
                let formData = new FormData();
                let inputFile = $("input[type='file']");
                let files = inputFile[0].files;

                for (let i = 0; i < files.length; i++) {
                    console.log(files[i]);
                    formData.append("uploadFiles", files[i]);
                }

                //실제 업로드 부분
                //upload ajax
                $.ajax({
                    url: '/uploadAjax',
                    processData: false,
                    contentType: false,
                    data: formData,
                    type: 'POST',
                    dataType: 'json',
                    success: function (result){
                        showUploadedVideos(result);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
                });
            }

            $('.uploadResult').on("click", ".removeBtn", function (e) {
                let target = $(this);
                let fileName = target.data("name");
                let targetDiv = $(this).closest("div");

                console.log(fileName);

                $.post('/removeFile', {fileName: fileName}, function (result) {
                    console.log(result);
                    if (result == true) {
                        targetDiv.remove();
                        //배열에서 해당 파일이름 제거
                        urlsIdx.splice(urls.indexOf(fileName), 1);
                        urls.splice(urls.indexOf(fileName), 1);
                    }
                });
            });

            //게시물 저장 버튼 클릭시
            $("#save").click(function () {
                let check = true;
                if (document.getElementById("title").value.length == 0) {
                    check = false;
                    alert("제목이 입력되지 않았습니다.");
                }
                else if (document.getElementById("content").value.length == 0) {
                    check = false;
                    alert("내용이 입력되지 않았습니다.");
                }
                else {
                    if (urls.length == 0) {
                        check = false;
                        alert("영상을 선택해주세요.");
                    }
                    else {
                        for (let i = 0; i < urlsIdx.length; i++) {
                            if (document.getElementById(`videotitle${urlsIdx[i]}`).value.length == 0) {
                                check = false;
                                alert(`${i + 1}번째 영상 제목이 입력되지 않았습니다.`);
                                break;
                            }
                        }
                    }
                }
                if (check) {
                    console.log("asdf",urls.length);
                    console.log(urls);
                    alert("게시물이 저장되었습니다.");
                    document.getElementById("addT").submit();
                }
            })

            // function checkVideo() {
            //     if ([[${isNoVideo}]]) {
            //         alert("영상을 한개 이상 업로드 해야합니다.");
            //     }
            // }
            // checkVideo();
        </script>

    </th:block>
</th:block>