<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        
        <head>
            <style>
                .essay-content{
                    box-sizing: border-box;
                    width: 100%;
                    margin-top: 30px;
                }
                .left-space{
                    display: inline-block;
                    width:80%;
                }
                .right-space{
                    display: inline-block;
                    float: right;
                }
                textarea{
                    resize: none;
                    display: inline-block;
                    height: auto;
                }
            </style>
        </head>
        
        <div class="essay-content">
            <!-- 게시물 내용 임시
            <div class="left-space">
                <div class="form-group">
                    <label >1.면접 질문1</label>
                    <video src=""></video>
                </div>
                
                <div class="form-group">
                    <label >2.면접 질문2</label>
                    <video src=""></video>
                </div>
                
                <div class="form-group">
                    <label >3.면접 질문3</label>
                    <video src=""></video>
                </div>
            </div>
            -->
            
            <!-- 게시물 내용 -->
            <div class="left-space">
                <!-- 게시물 제목 -->
                <div>
                    <h3>[[${result.title}]]</h3>
                </div>
                
                <div class="form-group" th:each="dto : ${result.videoList}">
                    <br>
                    <label>[[${dto.videoName}]]</label>
                    <br>
                    <video width="640" height="360" controls>
                        <source th:src="${dto.url}" type="video/mp4">
                    </video>
                </div>
    
                <!-- 게시물 글 내용 -->
                <br>
                <div>
                    <p>[[${result.text}]]</p>
                </div>
            </div>
            
            <!--/* 피드백 보기 버튼 임시
            <div class="right-space">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        피드백(3개)
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">{nickname1}님의 피드백</a>
                        <a class="dropdown-item" href="#">{nickname2}님이 피드백</a>
                        <a class="dropdown-item" href="#">{nickname3}님의 피드백</a>
                    </div>
                </div>
            </div>
            */-->
    
            <!-- 실제 사용할 피드백 보기 부분-->
            <div class="right-space">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        피드백([[${result.fCnt}]]개)
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:each="dto : ${result.feedbackList}"
                            th:href="@{/essay/board/feedback/${pk}(pk=${dto.pk})}" th:text="|${dto.nickname}님의 피드백|"></a>
                    </div>
                </div>
            </div>
            
            <!-- 피드백하기 버튼 -->
            <div style="float: right; display: inline-block">
                <button class="btn btn-primary">
                    <a th:href="@{/essay/board/feedback}" style="color: white;">피드백하기</a>
                </button>
            </div>
            <hr>

            <!-- 댓글 - js로 댓글 달기 -->
            <div class="reply-space">
                <h3>댓글</h3>
    
                <!-- 실제 기존 댓글 표시해줄 부분 -->
                <div th:each="dto : ${result.replyList}">
                    <label>[[${dto.nickname}]]님의 댓글</label>
                    <br>
                    <textarea cols="80" readonly>[[${dto.content}]]</textarea>
                </div>
    
                <!-- 댓글 달기 -->
                <div id="new_reply"></div>
                <input id="reply_input" type="button" value="댓글 달기" onclick="make_reply(); remove_btn();">
            </div>
        </div>
    
        <!-- 댓글 달기 기능 -->
        <script th:inline="javascript">
            //댓글 달기를 누르면 그 부분 삭제
            function remove_btn(){
                $('#reply_input').remove();
            }
            //댓글 달기를 누르면 쓰는 사람의 닉네임 label과 textarea 생성 - 임시
            function make_reply(){
                document.getElementById("new_reply").innerHTML+=`<label>{nickname}님의 댓글</label><br>`+
                        `<textarea cols="80" rows="3" placeholder="내용을 입력해주세요."></textarea>`+
                        `<button style="border: 1px black; background-color: lightgray">확인</button><br>`;
            }
        </script>
        
    </th:block>
</th:block>