<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <head>
            <meta charset="UTF-8">
            <title>Essay feedback write page</title>

            <style>
                .container-fluid {
                    padding-left: 7%;
                    padding-right: 7%;
                }

                .width-60 {
                    width: 60%;
                }

                .background-color-gray {
                    background-color: #F2F2F2;
                }

                textarea {
                    resize: none;
                }

                textarea::selection {
                    background-color: pink;
                }
            </style>

        </head>
        <body>
        <label class="form-control text-center mt-3"
               th:text="|${feedback.essayPostName} 게시물에 저장된 ${feedback.feedbackWriter} 님의 첨삭입니다.|"></label><br>

        <div th:each="idx : ${#numbers.sequence(0,feedback.questions.size()-1)}">

            <label th:for="|answer${idx+1}|" th:text="|${idx+1}. ${feedback.questions[idx]}|"></label>
            <div type="text" style="border: 1px solid black;" th:id="|answer${idx+1}|"
                 th:text="${feedback.answers[idx]}"></div>
            <br>

            <!--여기부터 이제 그리기-->
            <!--            <div th:id="|comment${idx+1}|">-->
            <div th:each="comment,info : ${feedback.comment}">
                <div th:if="${idx+1} == ${feedback.num[info.index]}">
                    <span style="font-weight: bold" th:id="|label${idx+1}${info.index}|"></span>
                    <span th:id="|comment${idx+1}${info.index}|"></span>
                    <div style="border: 1px solid black;" th:text="${comment}"></div><br>
                </div>
            </div>
            <!--            </div>-->

        </div>

        <!--총평 출력-->
        <label>총평</label>
        <div th:text="${feedback.content}" style="border: 1px solid black;"></div>
        <br>

        <!--최종 첨삭 저장 버튼-->
        <button type="button" class="margin-bottom-10 w-300 btn btn-primary" onclick="window.history.back()">이전</button>
        <br>

        <script type="text/javascript">
            const selectedObj = window.getSelection();
            let num = [[${feedback.num}]];
            let start = [[${feedback.start}]];
            let end = [[${feedback.end}]];

            display();

            function display() {
                let orgContent = document.getElementById('answer' + 1).innerText, newContent = "";
                let curQuestion = 1;
                let cursor = 0;
                let ct = 0;

                for (let i = 0; i < num.length; i++) {
                    if (num[i] > curQuestion) { //문제 바뀜
                        document.getElementById('answer' + curQuestion).innerHTML = newContent;
                        console.log('최종 : ',document.getElementById('answer' + curQuestion).innerHTML);
                        curQuestion++;
                        newContent = "";
                        orgContent = document.getElementById('answer' + curQuestion).innerText;
                        cursor = 0;
                        ct = 0;
                        console.log(i);

                    }
                    newContent += orgContent.substr(cursor, start[i] - cursor);
                    cursor = start[i];
                    // console.log('new content : ',newContent);
                    newContent += '<span style="background-color: #E5CCFF">' + orgContent.substr(cursor, end[i] - start[i] + 1) + '</span>';
                    console.log(newContent);
                    document.getElementById('label'+curQuestion+i).innerText = '선택 문장 '+(ct+1)+' : ';
                    document.getElementById('comment'+curQuestion+i).innerText = orgContent.substr(cursor, end[i] - start[i] + 1);
                    ct++;
                    cursor = end[i] + 1;
                }
                document.getElementById('answer' + curQuestion).innerHTML = newContent;
            }
        </script>

        </body>
    </th:block>
</th:block>