<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <head>
            <meta charset="UTF-8">
            <title>Essay feedback write page</title>

            <style>
                .container-fluid {
                    padding-left: 7%;
                    padding-right: 7%;
                }

                .width-60 {
                    width: 60%;
                }

                .background-color-gray {
                    background-color: #F2F2F2;
                }

                textarea {
                    resize: none;
                }

                textarea::selection {
                    background-color: pink;
                }

                .border-gray {
                    border: 1px solid #CFD4D9;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            </style>

        </head>
        <body>
        <h3 class="mt-3 text-center"
            th:text="|${feedback.essayPostName} 게시물에 저장된 ${feedback.feedbackWriter} 님의 첨삭입니다.|"></h3>
        <hr>
        <!--        <p class="text-right"><strong>최종 수정 시간 : </strong>[[${feedback.writeTime}]]</p>-->
        <p style="font-weight: bold" class="text-right" th:text="|최종 수정 시간 : ${feedback.writeTime}|"></p>

        <div th:each="idx : ${#numbers.sequence(0,feedback.questions.size()-1)}">

            <label th:for="|answer${idx+1}|" th:text="|${idx+1}. ${feedback.questions[idx]}|"></label>
            <div class="border-gray" style="padding: 6px 12px; white-space:pre-wrap; word-break: break-all;" type="text"
                 th:id="|answer${idx+1}|"
                 th:text="${feedback.answers[idx]}"></div>

            <!--첨삭 목록-->
            <div th:each="comment,info : ${feedback.comment}">
                <div th:if="${idx+1} == ${feedback.num[info.index]}">
                    <br>
                    <div style="word-break: break-all;">
                        <span style="font-weight: bold" th:id="|label${idx+1}${info.index}|"></span>
                        <span th:id="|comment${idx+1}${info.index}|"></span>
                    </div>
                    <textarea class="form-control" th:text="${comment}" rows="3" readonly></textarea>
                </div>
            </div>
            <br>
        </div>
        <br>
        <hr>

        <!--총평 출력-->
        <label><b>총평</b></label>
        <textarea class="form-control" th:text="${feedback.content}" rows="3" readonly></textarea>
        <!--        <div th:text="${feedback.content}" style="border: 1px solid black;"></div>-->
        <br>

        <!--첨삭 수정, 삭제, 이전 버튼-->
        <div class="text-center">
            <div th:if="${feedback.curUserNickname} == ${feedback.feedbackWriter}">
                <a type="button" class="btn btn-outline-info px-5"
                   th:href="|/essay/board/ ${feedback.essayId}|">이전</a>
                <a type="button" class="btn btn-outline-warning px-5"
                   th:href="|/essay/feedback/update/${feedback.feedbackId}|">수정</a>
                <a type="button" class="btn btn-outline-danger px-5"
                   th:href="|/essay/feedback/delete/${feedback.feedbackId}|">삭제</a>
            </div>
            <div th:if="${feedback.curUserNickname} != ${feedback.feedbackWriter}">
                <a type="button" class="btn btn-outline-info px-5"
                   th:href="|/essay/board/ ${feedback.essayId}|">이전</a>
            </div>
            <br><br>
        </div>
        <br><br>

        <script th:inline="javascript">
            const selectedObj = window.getSelection();
            var start, end, comment;
            let num = [[${feedback.num}]];
            let tmpStart = [[${feedback.start}]];
            let tmpEnd = [[${feedback.end}]];

            initSetting();
            display();

            function initSetting() {
                let curQuestion = 1, idx = 0;
                let startBuf = [], endBuf = [];
                start = new Array([[${feedback.questions.size()}]]);
                end = new Array([[${feedback.questions.size()}]]);
                comment = new Array([[${feedback.questions.size()}]]);

                for (let i = 0; i < start.length; i++) { //2차원 배열처럼 사용하기 위해 설정
                    start[i] = [];
                    end[i] = [];
                }

                for (let i = 0; i < tmpStart.length; i++) {
                    if (num[i] > curQuestion) {
                        start[curQuestion - 1] = startBuf;
                        end[curQuestion - 1] = endBuf;
                        startBuf = [];
                        endBuf = [];
                        curQuestion = num[i];
                    }
                    startBuf.push(tmpStart[i]);
                    endBuf.push(tmpEnd[i]);
                    if (i + 1 == tmpStart.length) {
                        start[curQuestion - 1] = startBuf;
                        end[curQuestion - 1] = endBuf;
                    }
                }
            }

            function display() {
                let orgContent, newContent;
                let ct = 0, cursor = 0;


                for (let i = 1; i <= start.length; i++) { //모든 문제별로 진행
                    orgContent = document.getElementById('answer' + i).innerText;
                    newContent = "";
                    cursor = 0;
                    console.log(start[i - 1]);
                    console.log(start[i - 1].length);

                    console.log('org : ', orgContent);
                    for (let j = 0; j < start[i - 1].length; j++) {
                        console.log(cursor, ' 부터 ', start[i - 1][j] - cursor, ' 이만큼 처음');
                        newContent += orgContent.substr(cursor, start[i - 1][j] - cursor); //직전 마지막 다음 ~ 시작 직전까지 저장
                        console.log('추가 후 : ', newContent);
                        cursor = start[i - 1][j]; //커서 이동
                        console.log(cursor, ' 부터 ', end[i - 1][j] - start[i - 1][j] + 1, ' 이만큼 하이라이트');
                        newContent += '<span style="background-color: #E5CCFF">' + orgContent.substr(cursor, end[i - 1][j] - start[i - 1][j] + 1) + '</span>'; //하이라이트
                        console.log('추가 후 : ', newContent);
                        document.getElementById('label' + i + ct).innerText = '선택 문장 ' + (j + 1) + ')   ';
                        document.getElementById('comment' + i + ct).innerText = orgContent.substr(cursor, end[i - 1][j] - start[i - 1][j] + 1);
                        cursor = end[i - 1][j] + 1;
                        ct++;
                    }
                    newContent += orgContent.substr(cursor, orgContent.length - cursor);
                    console.log('추가 후 : ', newContent);
                    document.getElementById('answer' + i).innerHTML = newContent;
                }
            }
        </script>

        </body>
    </th:block>
</th:block>