<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <head>
            <meta charset="UTF-8">
            <title>Essay feedback write page</title>

            <style>
                .add-btn {
                    width: 2.5rem;
                    height: 2.5rem;
                    font-size: 1.25rem;
                    color: #56b8f5;
                    background-color: #fff;
                    cursor: pointer;
                    border: 2px solid #56b8f5;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    transition: color 0.2s, background-color 0.2s ease-in-out;
                }

                .container-fluid {
                    padding-left: 7%;
                    padding-right: 7%;
                }

                .width-60 {
                    width: 60%;
                }

                .background-color-gray {
                    background-color: #F2F2F2;
                }

                textarea {
                    resize: none;
                }

                textarea::selection {
                    background-color: plum;
                }
            </style>

        </head>
        <body>
        <form class="container-fluid" action method="post" th:object="${feedback}">
            <label class="form-control text-center mt-3" th:text="|${essayPostName} 게시물을 첨삭하고 있습니다.|"></label><br>
            <button type="button" onclick="showGuide()">첨삭 방법</button>

            <div th:each="idx : ${#numbers.sequence(0,questions.size()-1)}">

                <label th:for="|answer${idx+1}|" th:text="|${idx+1}. ${questions[idx]}|"></label>
                <div type="text" style="border: 1px solid black;" th:id="|answer${idx+1}|"
                     th:text="${answers[idx]}"
                     th:onmouseup="|dragUpdate(${idx+1})|" th:onmousedown="|dragStart(${idx+1})|"></div>
                <br>

                <!--전송에 필요한 데이터-->
                <div th:id="|start${idx+1}|"></div>
                <div th:id="|end${idx+1}|"></div>
                <div th:id="|comment${idx+1}|"></div>

                <!--첨삭 입력 칸, 버튼이 들어가는 div-->
                <div th:id="|getFeedback${idx+1}|"></div>
                <br><br>

                <!--드래그 후 보이는 + 버튼-->
                <button type="button" style="display: none" class="add-btn" th:id="|addBtn${idx+1}|"
                        th:onclick="|addPlusBtn(${idx+1})|">+
                </button>
            </div>

            <!--총평 입력-->
            <label for="totalComment">총평</label>
            <textarea type="text" id="totalComment" th:field="*{content}" class="form-control" rows=3
                      placeholder="총평을 입력해주세요." required></textarea><br>

            <!--최종 첨삭 저장 버튼-->
            <button type="submit" class="margin-bottom-10 w-300 btn btn-primary">확인</button>
            <br>
        </form>

        <script th:inline="javascript">
            const selectedObj = window.getSelection();
            let btnWidth, btnHeight;
            let curStart, curEnd, curQuestion = 0, curRange;
            let start, end, comment, selectedString, commentBuf, rangeBuf, container, remainEdit, addBtn;
            let mouseX, mouseY;
            let startPoint = 0;

            initSetting();

            document.addEventListener("mousedown", (e) => { //마우스 왼쪽 버튼을 클릭했을때 이벤트 처리
                mouseX = e.pageX;
                mouseY = e.pageY;
                if (curQuestion > 0 && e.target.id != addBtn[curQuestion - 1].id) { //활성화된 버튼을 클릭하지 않은 경우 버튼 none 처리
                    console.log('이 버튼 안누름!!!');
                    addBtn[curQuestion - 1].style.display = "none";
                }
            })

            function initSetting() { //초기 세팅 진행
                start = new Array([[${questions.size()}]]);
                end = new Array([[${questions.size()}]]);
                comment = new Array([[${questions.size()}]]);
                selectedString = new Array([[${questions.size()}]]);

                container = new Array([[${questions.size()}]]);
                rangeBuf = new Array([[${questions.size()}]]);
                commentBuf = new Array([[${questions.size()}]]);
                addBtn = new Array([[${questions.size()}]]);
                remainEdit = new Array([[${questions.size()}]]);

                curRange = new Range();
                for (let i = 0; i < start.length; i++) { //2차원 배열처럼 사용하기 위해 설정
                    start[i] = [];
                    end[i] = [];
                    selectedString[i] = [];
                    comment[i] = [];
                    container[i] = [];
                    addBtn[i] = document.querySelector("#addBtn" + (i + 1));
                    remainEdit[i] = 0;
                }
                btnWidth = Number(getComputedStyle(addBtn[0]).width.slice(0, -2));
                btnHeight = Number(getComputedStyle(addBtn[0]).height.slice(0, -2));

            }

            function showGuide() { //첨삭 방법을 소개하는 팝업
                alert('1. 문제별로 할당된 첨삭란에 첨삭을 입력합니다.\n' +
                    '2. 첨삭 대상 문장을 드래그하고 + 버튼을 누르세요.\n' +
                    '3. 내용을 작성하고 저장을 하면 첨삭이 저장됩니다.\n' +
                    '4. 저장된 첨삭은 삭제하거나 내용을 수정할 수 있습니다.\n' +
                    '5. 총평을 입력하고 저장 버튼을 눌러서 첨삭을 종료하세요.');
            }

            function getCaretCharacterOffsetWithin(element) {
                var caretOffset = 0;
                var doc = element.ownerDocument || element.document;
                var win = doc.defaultView || doc.parentWindow;
                var sel;
                if (typeof window.getSelection != "undefined") {
                    var range = window.getSelection().getRangeAt(0);
                    var selected = range.toString().length; // *
                    var preCaretRange = range.cloneRange();
                    preCaretRange.selectNodeContents(element);
                    preCaretRange.setEnd(range.endContainer, range.endOffset);

                    caretOffset = preCaretRange.toString().length - selected; // *
                } else if ((sel = doc.selection) && sel.type != "Control") {
                    var textRange = sel.createRange();
                    var preCaretTextRange = doc.body.createTextRange();
                    preCaretTextRange.moveToElementText(element);
                    preCaretTextRange.setEndPoint("EndToEnd", textRange);
                    caretOffset = preCaretTextRange.text.length;
                }
                return caretOffset;
            }

            function dragStart(idx) {
                console.log('==========================');
                console.log('[dragStart] idx : ', idx, ' startPoint : ', startPoint);
                if (startPoint == idx) { //드래그가 아직 종료되지 않은 경우 실패
                    selectedObj.removeAllRanges();
                    return;
                }
                startPoint = idx;
            }

            function dragUpdate(idx) { //드래그가 종료됐을때 현재 드래그 결과를 업데이트
                let inputArea = document.getElementById('getFeedback' + idx).innerText;
                console.log('==========================');
                console.log('[dragUpdate] idx : ', idx, ' startPoint : ', startPoint);

                console.log('cur type : ', selectedObj.getRangeAt(0));
                if (inputArea.length > 0 || remainEdit[idx - 1] > 0) { //기존에 첨삭중인 하이라이트가 있는 경우
                    selectedObj.removeAllRanges(); //모든 레인지 삭제
                    alert('현재 문제의 기존 첨삭을 완료하거나 취소하세요.');
                } else if (selectedObj.getRangeAt(0) == curRange || selectedObj.type == "Caret" || startPoint != idx) { //드래그 상태가 아니거나 드래그 시작 문제가 끝 문제가 다른 경우 실패 (다른 문제에서 드래그 시작 or 현재 문제에서 드래그 시작 → 다른 문제에서 끝 or 문제 이외의 부분에서 끝)
                    selectedObj.removeAllRanges(); //모든 레인지 삭제
                    alert('문장을 올바르게 선택하세요.');
                } else { //드래그 정보 업데이트
                    let range = selectedObj.getRangeAt(0);
                    curStart = getCaretCharacterOffsetWithin(document.getElementById("answer" + idx));
                    curEnd = curStart + selectedObj.getRangeAt(0).toString().length - 1;
                    curQuestion = idx;
                    startPoint = 0;
                    dragCheckAndProcess(idx);
                }
            }

            function dragCheckAndProcess(idx) { //드래그 후 검사
                console.log('cur type : ', selectedObj.getRangeAt(0));
                console.log('==========================');
                console.log('[dragCheckAndProcess] idx : ', idx);
                for (let i = 0; i < start[idx - 1].length; i++) { //겹치지 않는지 검사
                    if (!(curStart > end[idx - 1][i] + 1) && !(curEnd < start[idx - 1][i] - 1)) {
                        alert('이미 선택된 부분입니다.\n(최소 한 칸을 간격으로 첨삭을 해주세요.)');
                        selectedObj.removeAllRanges();
                        return;
                    }
                }

                //현재 드래그의 range 객체를 저장
                rangeBuf[idx - 1] = selectedObj.getRangeAt(0);
                curRange = rangeBuf[idx - 1];

                //첨삭을 추가하는 버튼 위치 조정
                addBtn[idx - 1].style.left = `${mouseX - btnWidth * 0.5}px`;
                addBtn[idx - 1].style.top = `${mouseY - btnHeight * 1.25}px`;
                addBtn[idx - 1].style.display = "block";
            }

            function highlightHandler(idx, color, range, mode) { //하이라이트를 생성하거나 지우는 핸들러
                console.log('==========================');
                console.log('[highlightHandler] idx : ', idx, 'color : ', color, 'mode : ', mode);

                selectedObj.removeAllRanges();
                selectedObj.addRange(range);
                document.getElementById('answer' + idx).contentEditable = 'true'; //edit 가능으로 임시 설정
                if (mode == 1) {
                    document.execCommand('hiliteColor', false, color); //지정한 색상으로 그리기
                } else {
                    document.execCommand('removeFormat'); //span 태그 삭제 (밑줄 비활성화)
                }
                document.getElementById('answer' + idx).contentEditable = 'false'; //edit 불가능으로 회귀
            }

            function updateBuf(idx) { //각 문제의 입력창을 업데이트
                commentBuf[idx - 1] = document.getElementById('input' + idx).value;
            }

            function addFeedback(idx) { //첨삭하기 버튼을 눌렀을때 처리
                console.log('==========================');
                console.log('[addFeedback] idx : ', idx);
                if (commentBuf[idx - 1] != undefined && commentBuf[idx - 1].length > 0) { //값이 입력된 상태인지 검사
                    // deleteHighlight(idx, container[idx - 1].length);
                    makeHighlight(idx, '#E5CCFF');
                    addDragInfo(idx); //드래그 정보 저장
                } else {
                    alert('첨삭을 입력하세요.');
                }
                addBtn[idx - 1].display = "none";
                document.getElementById('getFeedback' + idx).innerHTML = '';
            }

            function addPlusBtn(idx) {
                //첨삭 입력 칸, 버튼 생성
                let range = selectedObj.getRangeAt(0);
                console.log('버튼 추가 후 range : ', rangeBuf[idx - 1], range);
                addBtn[idx - 1].style.display = "none";
                if (range != rangeBuf[idx - 1]) { //현재 드래그와 저장된 드래그 비교
                    alert('드래그를 해제하지 말고 버튼을 눌러주세요.');
                    rangeBuf[idx - 1] = '';
                    document.getElementById('getFeedback' + idx).innerHTML = '';
                    return;
                }

                // makeHighlight(idx, "#FFF000");
                // rangeBuf[idx - 1] = selectedObj.getRangeAt(0);
                document.getElementById('getFeedback' + idx).innerHTML = '<br><b>현재 선택 문장 : </b><span>' + rangeBuf[idx - 1].toString() + '</span><br>' +
                    '<textarea id="input' + idx + '" type="text" class="form-control" placeholder="첨삭을 입력하세요" rows=3 onchange="updateBuf(' + idx + ')"></textarea><br>' +
                    '<button class="btn btn-secondary" type="button" onclick="addFeedback(' + idx + ')">확인</button> ' +
                    '<button class="btn btn-secondary" type="button" onclick="cancelFeedback(' + idx + ')">취소</button>';
            }

            function cancelFeedback(idx) { //첨삭 취소 버튼을 눌렀을때 처리
                // deleteHighlight(idx, container[idx - 1].length - 1); //기존에 생성한 하이라이트 삭제
                selectedObj.removeAllRanges(); //모든 레인지 삭제
                rangeBuf[idx] = '';
                document.getElementById('getFeedback' + idx).innerHTML = ''; //첨삭 입력칸 삭제
            }

            function addDragInfo(idx) { //드래그 결과를 추가하고 피드백 내용을 업데이트
                console.log('==========================');
                console.log('[addDragInfo] idx : ', idx);
                //문제별 첨삭 리스트에 드래그 결과 추가
                start[idx - 1].push(curStart);
                end[idx - 1].push(curEnd);
                comment[idx - 1].push(commentBuf[idx - 1]);

                //기존 첨삭 내용을 입력창에서 삭제
                document.getElementById('input' + idx).value = '';
                commentBuf[idx - 1] = '';

                displayFeedback(idx);

            }

            function makeHighlight(idx, color) {
                let isFinished = false;
                let priorNodeList = [];
                let afterNodeList;
                console.log('==========================');
                console.log('[makeHighlight] idx : ', idx, 'color : ', color);


                //기존 노드 리스트 저장
                document.getElementById('answer' + idx).childNodes.forEach((eachNode) => {
                    priorNodeList.push(eachNode);
                });
                let tmp = rangeBuf[idx - 1].cloneRange();
                selectedString[idx - 1].push(rangeBuf[idx - 1].toString()); //현재 선택된 문장 저장
                highlightHandler(idx, color, rangeBuf[idx - 1], 1); //현재 선택된 부분에 하이라이트 생성
                rangeBuf[idx - 1] = tmp.cloneRange();

                afterNodeList = document.getElementById('answer' + idx).childNodes;
                for (let i = 0; i < priorNodeList.length; i++) { //기존 노드 리스트와 하이라이트 후 노드 리스트의 바뀐 부분 비교
                    if (afterNodeList[i].nodeName == '#text') {
                        continue;
                    }
                    if (priorNodeList[i] != afterNodeList[i]) { //새로 추가된 span 노드를 찾았을때 추가
                        container[idx - 1].push(afterNodeList[i]);
                        isFinished = true;
                        break;
                    }
                }
                if (!isFinished) { //span 노드가 가장 마지막에 추가된 경우에도 추가
                    container[idx - 1].push(afterNodeList[afterNodeList.length - (afterNodeList.length - priorNodeList.length)]);
                }
                selectedObj.removeAllRanges(); //모든 레인지 삭제
            }

            function deleteFeedback(curIdx, deleteIdx) { //피드백 1개 삭제
                if (document.getElementById('getFeedback' + curIdx).innerText.length > 0 || remainEdit[curIdx - 1] > 0) {
                    alert('현재 문제의 기존 첨삭을 완료하거나 취소하세요.');
                    return;
                }
                console.log('==========================');
                console.log('[deleteFeedback] curIdx : ', curIdx, 'deleteIdx : ', deleteIdx);

                //밑줄 삭제
                deleteHighlight(curIdx, deleteIdx);
                selectedObj.removeAllRanges(); //모든 레인지 삭제

                //리스트에서 정보 삭제
                start[curIdx - 1].splice(deleteIdx, 1);
                end[curIdx - 1].splice(deleteIdx, 1);
                comment[curIdx - 1].splice(deleteIdx, 1);
                selectedString[curIdx - 1].splice(deleteIdx, 1);

                displayFeedback(curIdx); //작성한 피드백 다시 출력
            }

            function editFeedback(curIdx, editIdx) { //수정 버튼을 눌렀을때
                let commentTextArea = document.getElementById('commentContent' + curIdx + editIdx);
                if (document.getElementById('getFeedback' + curIdx).innerText.length > 0 || remainEdit[curIdx - 1] > 0) {
                    alert('현재 문제의 기존 첨삭을 완료하거나 취소하세요.');
                    return;
                }
                document.getElementById('commentBtn' + curIdx + editIdx + '1').style.display = "none"; //삭제 버튼 비활성화
                document.getElementById('commentBtn' + curIdx + editIdx + '2').style.display = "none"; //수정 버튼 비활성화
                document.getElementById('commentBtn' + curIdx + editIdx + '3').style.display = "inline"; //확인 버튼 활성화
                document.getElementById('commentBtn' + curIdx + editIdx + '4').style.display = "inline"; //취소 버튼 활성화
                commentTextArea.readOnly = false; //textarea 수정 가능으로 변경
                commentTextArea.style.backgroundColor = "#FFFFFF";
                remainEdit[curIdx - 1]++;
            }

            function processEditFeedback(curIdx, multiIdx, mode) { //수정 확인/취소 버튼을 눌렀을때
                let commentTextArea = document.getElementById('commentContent' + curIdx + multiIdx);
                document.getElementById('commentBtn' + curIdx + multiIdx + '1').style.display = "inline"; //삭제 버튼 활성화
                document.getElementById('commentBtn' + curIdx + multiIdx + '2').style.display = "inline"; //수정 버튼 활성화
                document.getElementById('commentBtn' + curIdx + multiIdx + '3').style.display = "none"; //확인 버튼 비활성화
                document.getElementById('commentBtn' + curIdx + multiIdx + '4').style.display = "none";  //수정 버튼 비활성화
                commentTextArea.readOnly = true; //textarea 수정 불가능으로 변경
                commentTextArea.style.backgroundColor = "#F2F2F2";
                remainEdit[curIdx - 1]--;

                if (mode == 1) { //확인 버튼 -> 새로운 값으로 리스트 업데이트
                    comment[curIdx - 1][multiIdx] = commentTextArea.value;
                } else { //취소 버튼 -> 기존 값으로 되돌림
                    commentTextArea.value = comment[curIdx - 1][multiIdx];

                }

            }

            function processClick(commentTextArea, deleteBtn, editBtn, curIdx, multiIdx) {
                deleteBtn.innerText = '삭제';
                deleteBtn.addEventListener("click", (e) => {
                    deleteFeedback(curIdx, multiIdx);
                });
                editBtn.innerText = '수정';
                editBtn.addEventListener("click", (e) => {
                    editFeedback(curIdx, multiIdx);
                });
                commentTextArea.readOnly = true;
            }

            function displayFeedback(idx) { //피드백 display
                console.log('==========================');
                console.log('[displayFeedback] idx : ', idx);
                //기존값 초기화 (문제별 원래 저장된 부분)
                document.getElementById('start' + idx).innerHTML = '';
                document.getElementById('end' + idx).innerHTML = '';
                document.getElementById('comment' + idx).innerHTML = '';

                for (let i = 0; i < start[idx - 1].length; i++) {
                    document.getElementById('start' + idx).innerHTML += '<input type="hidden" id="start' + idx + i + '" name="everyComment[' + (idx - 1) + '].commentList[' + i + '].start">';
                    document.getElementById('end' + idx).innerHTML += '<input type="hidden" id="end' + idx + i + '" name="everyComment[' + (idx - 1) + '].commentList[' + i + '].end">';
                    document.getElementById('start' + idx + i).value = start[idx - 1][i];
                    document.getElementById('end' + idx + i).value = end[idx - 1][i];
                    document.getElementById('comment' + idx).innerHTML += '<b>선택 문장 ' + (i + 1) + ' : </b><span>' + selectedString[idx - 1][i] + '</span><br>' +
                        '<textarea class="width-60 background-color-gray" id="commentContent' + idx + i + '" name="everyComment[' + (idx - 1) + '].commentList[' + i + '].comment" rows="3" readonly>' + comment[idx - 1][i] + '</textarea><br>' +
                        '<button class="btn btn-secondary" type="button" style="display: inline" id="commentBtn' + idx + i + '1" onclick="deleteFeedback(' + idx + ',' + i + ')">삭제</button> ' +
                        '<button class="btn btn-secondary" type="button" style="display: inline" id="commentBtn' + idx + i + '2" onclick="editFeedback(' + idx + ',' + i + ')">수정</button> ' +
                        '<button class="btn btn-secondary" type="button" style="display: none" id="commentBtn' + idx + i + '3" onclick="processEditFeedback(' + idx + ',' + i + ',1)">확인</button> ' +
                        '<button class="btn btn-secondary" type="button" style="display: none" id="commentBtn' + idx + i + '4" onclick="processEditFeedback(' + idx + ',' + i + ',2)">취소</button><br>';
                }
            }

            function deleteHighlight(curIdx, deleteIdx) {
                console.log('==========================');
                console.log('[deleteHighlight] curIdx : ', curIdx, 'deleteIdx : ', deleteIdx);
                let node = container[curIdx - 1][deleteIdx];
                let range = document.createRange();
                //새로운 레인지 생성
                range.setStart(node, 0);
                range.setEnd(node, 1);

                //하이라이트 삭제
                highlightHandler(curIdx, '', range, 0);

                //리스트 정보 삭제
                container[curIdx - 1].splice(deleteIdx, 1);
                // selectedObj.removeAllRanges(); //모든 레인지 삭제
                mergeText(curIdx);
            }

            function mergeText(idx) { //첨삭 삭제로 인해 나뉜 text 노드를 합치는 함수
                let tmp = document.getElementById('answer' + idx).childNodes;
                for (let i = 0; i < tmp.length - 1; i++) {
                    if (tmp[i].nodeName == '#text' && tmp[i + 1].nodeName == '#text') { //연속하는 두 노드가 텍스트인 경우
                        tmp[i].nodeValue += tmp[i + 1].nodeValue;
                        document.getElementById('answer' + idx).removeChild(tmp[i + 1]);
                        i--;
                    }
                }
            }
        </script>
        </body>
    </th:block>
</th:block>