<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <head>
            <style>
                .btn-link {
                    mid-width: 100px;
                    border-radius: 0px;
                    text-decoration: none;
                    opacity:1.0;
                    box-shadow: none;
                }
            </style>
            <script th:inline="javascript">
                var questionValue = new Array(0);
                var cur = "";

                //에러 발생해서 리다이렉트 시 경고창 띄우기
                function checkNoQuestion() {
                    if ([[${isNoQuestion}]]) {
                        console.log("No Question Exception Handling");
                        alert("면접 질문을 한개 이상 선택해주세요.");
                    }
                }

                function addInput() { //추가 버튼을 눌렀을때
                    if (cur.length > 0) { //입력값이 있어야 추가
                        console.log("cur : ",cur);
                        questionValue.push(cur);
                        console.log("추가 후 : ",questionValue);
                        cur = "";
                    }
                    display();
                }

                function display() {
                    document.getElementById('inputQuestion').innerHTML = "";
                    //기존 내용, 삭제 버튼 추가
                    for (i = 0; i < questionValue.length; i++)
                        document.getElementById('inputQuestion').innerHTML += createInput(i);
                    //새로운 입력창 띄움
                    document.getElementById('inputQuestion').innerHTML += "<div class='form-inline mt-1'><input class='form-control col-md' type='text' name='question' value='"+cur+"' placeholder='면접 질문을 추가해보세요.' onChange='cur=this.value' >  " +
                        "<input class='btn btn-outline-info col-1 ml-1' type='button' name='addBtn' value='추가' onclick='addInput();'></div>";
                }

                function createInput(idx) { //기존에 저장한 추가 질문 및 삭제 버튼을 추가하는 함수
                    return "<div class='form-inline mt-1'><input class='form-control col-md' style='pointer-events: none' type='text' name='question" + (idx + 1) + "' value='" + questionValue[idx] + "'>  " +
                        "<input class='btn btn-link btn-sm col-1 ml-1' type='button' value='X' onclick='deleteInput(" + (idx) + ");'></div>";
                }

                function deleteInput(idx) { //삭제 버튼 눌렀을때
                    for (i = 0; i < questionValue.length; i++)
                        console.log(i, questionValue[i]);
                    if (questionValue.length > 0) {
                        questionValue.splice(idx, 1);
                    }
                    display();
                }

                function afterSelect() { //자기소개서 선택 후
                    var selectForm = document.getElementById("essaySelect"); //자기소개서 선택
                    var essayName = selectForm.options[selectForm.selectedIndex].value; //자기소개서 선택 결과
                    let essayMap = [[${essayMap}]]; //자기소개서 map (이걸 활용해서 각 댓글수 추출)

                    if (essayMap[essayName] != undefined) { //자기소개서를 선택한 경우
                        document.getElementById('expectedQuestion').innerHTML = "<option value='' hidden>질문 수</option>";
                        for (i = 1; i <= essayMap[essayName]; i++) //질문 개수만큼 설정 option 생성
                            document.getElementById('expectedQuestion').innerHTML += "<option class='center' value=" + i + ">" + i + "</option>";
                    } else { //자기소개서를 선택하지 않은 경우
                        document.getElementById('expectedQuestion').innerHTML = "";
                        document.getElementById('expectedQuestion').innerHTML += "<option class='center' value=' ' selected>선택 안함</option>"; //value ''로 하면 selected가 안먹음..
                    }
                }
            </script>
            <meta charset="utf-8"/>
            <title>면접 보기</title>
        </head>
        <body>
        <script>
            checkNoQuestion();
        </script>

        <h1 class="mt-4">면접 설정</h1>
        <hr>
        <div class="container-fluid" style="padding-left: 15%; padding-right: 15%">
            <!--            <div id="headLine">-->
            <!--                <span style='border-bottom: 12px solid plum; padding: 0 0 0 0.2em;'>면접 설정</span>-->
            <!--            </div>-->
            <form name="interview" action="/interview/test" method="post">
                <h5 for="interviewName">면접 제목</h5>
                <input class="form-control" type="text" id="interviewName" name="interviewName" placeholder="면접 제목을 입력하세요." required>
                <br>
                <br>
                <h5>기본 문제 선택</h5>
                <div class="form-inline">
                    <p class="col-6" style="padding-left: 10%; padding-right: 10%" for="baseQuestion">인성 면접 질문</p>
                    <select class="form-control col-6 text-center" id="baseQuestion" name="baseQuestion" required>
                        <option class="text-center" value="" hidden>문제 수 선택</option>
                        <th:block th:each="num: ${#numbers.sequence(0,baseQuestion)}">
                            <option th:value="${num}"><p th:text="${num}"></p></option>
                        </th:block>
                    </select>
                </div>
                <br>
                <br>
                <div class="form-inline">
                    <p class="col-6" style="padding-left: 10%; padding-right: 10%" for="csQuestion">CS 면접 질문</p>
                    <select class="form-control col-6 text-center" id="csQuestion" name="csQuestion" required>
                        <option class="text-center" value="" hidden>문제 수 선택</option>
                        <th:block th:each="num: ${#numbers.sequence(0,csQuestion)}">
                            <option th:value="${num}"><p th:text="${num}"></p></option>
                        </th:block>
                    </select>
                </div>
                <br>
                <br>

                <h5>예상 질문 댓글</h5>
                <div class="form-inline mt-1">
                    <select class="form-control text-center col-md" id="essaySelect" name="essayName" onChange="afterSelect()" required>
                        <option value="" hidden>불러올 자기소개서를 선택하세요.</option>
                        <th:block th:each="essay: ${essayMap}">
                            <option th:value="${essay.key}"><p th:text="${essay.key}"></p></option>
                        </th:block>
                        <option value="">선택 안함</option>  <!--선택 안함 : essayName이 null로 전송됨-->
                    </select>
                    <select class="form-control text-center col-3 ml-1" id="expectedQuestion" name="expectedQuestion" required>
                        <option value="">질문 수 선택</option>
                    </select>
                </div>
                <br>
                <br>

                <h5>직접 입력하기</h5>
                *앞서 선택한 문제들과 겹칠 수가 있습니다.<br>
                *영어 약자의 경우 한 글자씩 써주세요! (ex. IT → I T)<br>
                <div id="inputQuestion" class="mt-1">
                    <script>
                        display();
                    </script>
                </div>
                <br>
                <br>
                <div class="text-center">
                    <input class="btn btn-outline-info px-5" type="submit" name="" value="면접 시작">
                </div>
                <br>
                <br>
                <br>
            </form>
        </div>
        </body>
    </th:block>
</th:block>
</html>