<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <head>
            <meta charset="UTF-8">
            <title>essay_write_page</title>

            <style>
                .container-fluid {
                    padding-left: 7%;
                    padding-right: 7%;
                }

                textarea {
                    resize: none;
                    background-color:transparent;
                }

            </style>

        </head>
        <body>
<!--        <script src="http://code.jquery.com/jquery-latest.js"></script>-->
        <form class="container-fluid" action method="post" th:object="${feedback}">
            <label class="form-control text-center mt-3" th:text="|${feedback.essayPostName} 게시물을 첨삭하고 있습니다.|"></label>
            <div th:each="idx : ${#numbers.sequence(0,feedback.getQuestions().size()-1)}">
                <label th:for="|answer${idx+1}|" th:text="|${idx+1}. ${feedback.questions[idx]}|"></label>
                <textarea type="text" th:id="|answer${idx+1}|" class="form-control" th:text="${feedback.answers[idx]}"
                          th:onselect="|dragUpdate(${idx+1})|" rows=10 disabled></textarea><br>
                <input type="text" class="form-control" placeholder="첨삭을 입력하세요"><br>
                <button type="button" th:onclick="|dragCheck(${idx+1})|">첨삭 추가</button>
            </div>
            <label for="totalComment">총평</label>
            <textarea type="text" id="totalComment" name="comment" class="form-control" rows=3
                      placeholder="총평을 입력해주세요." required></textarea><br>
            <button type="submit" class="margin-bottom-10 w-300 btn btn-primary">확인</button>
        </form>

        <script type="text/javascript">
            let curField, curStart, curEnd, curQuestion;
            let isSelected = false;
            const selectedObj = window.getSelection();
            let feedbackList = new Array();

            function dragUpdate(idx) { //현재 드래그 결과를 업데이트
                console.log(idx,'번 문제 drag!!!!!!!!!!!!!!!!!!!!!!');
                curField = document.getElementById("answer" + idx);
                curStart = curField.selectionStart;
                curEnd = curField.selectionEnd - 1;
                curQuestion = idx;
                isSelected = true;
            }

            function dragCheck(idx) { //첨삭하기 버튼을 눌렀을때 첨삭이 가능한지 체크
                console.log('=================================');
                // console.log(selectedObj.type);
                // console.log(selectedObj);

                console.log('111 isSelected : ',isSelected);
                // console.log('시작 노드 : ',window.getSelection().anchorNode);

                if (window.getSelection) {
                    console.log('취소!!!!');
                    window.getSelection().removeAllRanges();
                }
                if (!isSelected) {// 1. 드래그가 된 상태인지
                    alert('문장이 선택되지 않았습니다.');
                } else if (idx != curQuestion) { // 2. 현재 번호에 맞는 첨삭인지
                    alert('현재 문제의 문장이 아닙니다.');
                } else { // 3. 이미  첨삭된 위치와 겹치지 않는지
                    // feedbackList.forEach(feedback => {
                    //     if (feedback.getNum() == curQuestion) {
                    //         if (!(curStart > feedback.getEndIdx()) && !(curEnd < feedback.getStartIdx())) {
                    //             alert('이미 첨삭된 부분입니다.');
                    //             return false;
                    //         }
                    //     }
                    // })
                    console.log('첨삭 가능!!!!!!!!!!!'); //여기서 이제 Ajax로 진행
                }

                isSelected = false;
                console.log('222 isSelected : ',isSelected);
            }
        </script>
        </body>
    </th:block>
</th:block>